@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

.feeds{
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.feed__single{
    height: 22rem;
    list-style: none;
    padding: 25px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border-top: 4px solid #00ABE4;
    overflow: auto;
}

.feed__single > img{
    width: 90%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 3px;
    border-radius: 8px;
}

.pagination {
    padding: 2%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    grid-auto-rows: 2.5rem;
  }
  
  .pagination > span{
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;
  }

  .details{
    display: flex;
    flex-direction: column;
  }

  .description{
    color: #1E375AB3;
    font-size: 15px;
    font-family: "Hind", sans-serif;
  }

  .title{
    color: #1E3575;
    font-family: "Hind", sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  .price{
    color: #1E3575;
    font-family: "Hind", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .pagination__disable{
    opacity: 0;
  }
  
  .pagination__selected{
    background-color: rgb(220, 220, 220);
  }

  @media screen and (min-width: 768px) {
    .feeds{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 992px) {
    .feeds{
      grid-template-columns: repeat(3, 1fr);
    }
  }