.selectEle {
  background-color: #00ABE4;
  margin: 5px;
  color: white;
  padding: 12px;
  width: 180px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.option{
    padding: 1rem;
}
