.searchInput {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
  font-size: 20px;
}

.searchDiv {
  margin: auto;
  width: 220px;
  padding: 45px;
  background-color: #7b8fa1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin-top: 25px;
}
