.searchInput {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(33, 29, 29);
  outline: none;
  color: rgb(38, 35, 35);
  font-size: 20px;
}

.searchDiv {
  width: 60%;
  padding: 45px;
  border-radius: 8px;
}
