.tableDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}


.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 12px 15px;
    font-size: 20px;
    text-align: center;
  }

  .table td{
    color: #1E375AB3;
  }


.table tr:nth-child(even){background-color: #00ABE4;}

.table tr:hover {background-color: #ddd;}

.table th {
  background-color: #1e375a;;
  color: #FFFFFF;
}


@media (max-width:500px){
  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: right;
    padding-left: 0%;
    position: relative;
  }
  .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
}